{% extends 'base.html' %}
{% block content %}
    <div class="my-5 mx-auto card" style="text-align: center;">
        <div class='card-header'>
            {% if error %}
                <p>Error : {{error}}</p>
            {% endif %}

            <h1>Login</h1>
        </div>
        <br/> <br/> <br/>
        <div class='text-center'>
            <div class="mx-auto card-content">
                <form method="POST" action="{% url 'login' %}" class="loginform">
                    {% csrf_token %}
                    <p class="form_pf">Username:<input name="username" type="text" value=""></p>
                    <br>
                    <br>
                    <p class="form_pf"></p>Password:<input name="password" type="password" value=""></p>
                    <br>
                    <br>
                    <input class="signup_btn" type="submit" value="로그인">
                </form>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}