{% extends 'base.html' %}
{% block content %}


{% load static %}
<link rel = "stylesheet" href="{% static 'css/profile.css' %}">

<div class="container2">
    <div class="profile">
        <div class="profilecontent">
            <div class="profileimg"><img src="{{profile_form.file.url}}" alt="no image"></div>
        </div>
        <div class="profiletext">
            ID : {{user.username}}
            <a href="{% url 'profile' %}" class="nav1">프로필 수정</a>
        </div>
        <!-- <a href="#" class="profileButton">프로필 수정</a>     -->
    </div>

    <div class="nav">
        <div class="navigation">
            <a href="{% url 'mypagemain' %}" class="nav1">My Page</a>
            <a href="" class="nav1">Portfolio</a>
            <a href="{% url 'qa_list' %}" class="nav1">Q&A</a>
            <a href="{%url 'selfqa' %}" class="nav1">Self Q&A</a>
        </div>
    </div>


    <div class="main1">
            <p class=profile_title>My Profile...</p>
            <hr class=line>
        <form action="." method="post" id="profile-form" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if form.errors %}    
            <p class="errornote">입력 정보를 다시 확인하세요. </p>
            {% endif %}
            {{error}}

            <!--
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            -->
            <br/>
            <p class="form_pf">이름: &nbsp;&nbsp;{{ user_form.username }} </p>

            <p class="form_pf">프로필사진: &nbsp;&nbsp; <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg">
                <img src="{{profile_form.file}}">
            </p>
            <p class="form_pf">성별:&nbsp;&nbsp;  {{ profile_form.gender }}</p>

            <p class="form_pf">나이: &nbsp;&nbsp; {{ profile_form.age }}</p>
          
            <p class="form_pf">직업: &nbsp;&nbsp; {{ profile_form.occupation }}</p>

            <p class="form_pf">학교명/직장명:&nbsp;&nbsp;  {{ profile_form.company }}</p>

            <p class="form_pf">전공:&nbsp;&nbsp;  {{ profile_form.major }}</p>

            <p class="form_pf">관심사:&nbsp;&nbsp;  {{ profile_form.interest }}</p>
            <br />

            <input class="submit-row" type="submit" value="저장하기" />

        </form>

    </div>




{% endblock %}