
{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel = "stylesheet" href="{% static 'css/profile.css' %}">

    <body class="text-center">
        <br>
        <img src = "/static/images/horse3.png" style="height:230px;">

      
            {% if error %}
            {{ error }}
            {% endif %}

        <p class="signup-title">Sign Up</p>
        

        <div class='register_main'>
                <form method="POST" action="{% url 'signup'%}">
                    {% csrf_token %}    

                    <p class="form_pf">아이디/이름: &nbsp;&nbsp;<input class="registerform" name="username" type="text" value=""></p>
                    <br>
                    <p class="form_pf">비밀번호: &nbsp;&nbsp;<input class="registerform" name="password1" type="password" value=""></p>
                    <br>
                    <p class="form_pf">비밀번호 확인:&nbsp;&nbsp;<input class="registerform" name="password2" type="password" value=""> </p> 
                    <br>
                    <input class="signup_btn" type="submit" value="회원가입 GO">
                </form>

        </div>
        <br><br>
    </body>
{% endblock %}
    


