{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel = "stylesheet" href="{% static 'css/mypagemain.css' %}">

<div class="container2">
  <div class="profile">
    <div class="profilecontent">
      <div class="profileimg"></div>
    </div>
    <div class="profiletext">
      <a href="" class="nav1">프로필 수정</a>
    </div>  
    <!-- <a href="#" class="profileButton">프로필 수정</a>     -->
  </div>

  <div class="nav">
    <div class="navigation">
      <a href="" class="nav1">nav1</a>
      <a href="" class="nav1">nav2</a>
      <a href="" class="nav1">nav3</a>
      <a href="" class="nav1">nav4</a>
    </div>
  </div>
  <div class="main1"></div>
  <div class="main2"></div>
  <div class="main3"></div>
  
</div>
{% endblock %}