{% extends 'base.html' %}
{% block content %}
  <div class="my-5 mx-auto card" style="text-align: center;">
      <div class='card-header'>
        <h1>main</h1>
      </div>
      <div class='card-body'>
        <p>메인페이지</p>
      <div class="mx-auto card-content">
        <form method = "POST" action="{% url 'login' %}">
          {% csrf_token %}
          ID
          <br>
          <input name="username" type="text" value="">
          <br>
          Password
          <br>
          <input name="password" type="password" value="">
          <br>
          <br>
          <input class="btn btn-primary" type="submit" value="로그인">
      </form>
        <a href="{%url 'signup' %}">회원가입</a>
      </div>
    </div>
  </div>
{% endblock %}