{% extends 'base.html' %}
{% block content %}

<div class = "introduce1">
    <h4>나만의 포트폴리오를 작성하고 다른사람들과 공유해보세요</h4>
    <p>페이지 소개 부분</p>
</div>

<div class = "introduce2">
  <h3>다른 User들 page 구경가기 <a href = "{% url 'search_page' %}"> > 검색하러 가기 </a></h3>
  <div class = "box1">
    {% for user in users %}
      <div class="user_question2">
        <a href = "{% url 'other_page' user.id %}">
          <div class="user_question2">
            {{user.username}}/ pw : 123123
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class = "introduce3">

</div>

{% endblock %}