{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<body class="text-center">
<div class="main">
  <img src="/static/images/latte.gif" style="height:500px; width:50%;">
  <div class="login">

    {% if error %}
    <p>Error : {{error}}</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <p class="signup-title ">Latte is horse</p><br>
      <p class="form_pf">아이디/이름:&nbsp;<input name="username" class="registerform" type="text" value=""></p>
      <br>
      <p class="form_pf">비밀번호 : &nbsp;<input name="password" class="registerform" type="password" value=""></p>
      <br>
      <br>
      <input class="login_btn" type="submit" value="로그인">
    </form>
    <br />
  </div>
</div>




<!--Carousel-->
<div class="sub">
  <div class="bd-example">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
          <img src="{% static 'images/7.JPG' %}" class="d-block w-100" alt="..." height="400px;">
        </div>

        <div class="carousel-item" data-interval="2000">
          <img src="{% static 'images/8.JPG' %}" class="d-block w-100" alt="..." height="400px;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <div class="introduce2">
    <h3>다른 User들 page 구경가기 <a href="{% url 'search_page' %}"> > 검색하러 가기 </a></h3>

    {% for user in users %}
    <div class="card">
      <img src="{% static 'images/1.JPG' %}" class="card-img-top" alt="사진" width="30px" height="100px">
      <div class="card-body">
        <h5 class="card-title">ID :{{user.username}}</h5>
        <p class="card-text">pw : 123123</p>
        <p class="card-text">전공 : </p>
        <a href="{% url 'other_page' user.id %}" class="btn btn-primary">구경가기</a>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
</body>
{% endblock %}